<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.pausetabs</string>
	<key>connections</key>
	<dict>
		<key>00AE9D16-4A4A-4371-9B6C-4A57F90B0FD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71E1A8E6-E19E-4CB5-A549-C3E381DB2DA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4E6BB00F-78D0-4401-B0D8-12DF635CB716</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Only in current browser</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>01CE4C90-7E05-45C5-BE77-6769A3E5FA86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35178710-6E1E-4C86-8348-0528C06FA47C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0C0D75D3-4308-412A-88EB-70A25A0CAC0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D78F34E-7704-4119-8370-27B728AAE507</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0C7EFFD4-4267-4B4D-9C9A-1FEE01CF1079</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E52B082-84A2-45E8-9A2C-D2231AE941D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13397FC7-175F-4A5E-A5FB-B6F81FDF2229</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B28DB2A1-54CD-4098-A01F-433BB205D0AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D78F34E-7704-4119-8370-27B728AAE507</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E3552813-F045-4D3D-B373-63095EA7BF22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35178710-6E1E-4C86-8348-0528C06FA47C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E228D7E-A983-44A2-A2E1-C41C04C92AE3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C3CB545-F2F5-427E-AC6C-3981B0E664F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13397FC7-175F-4A5E-A5FB-B6F81FDF2229</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6E52B082-84A2-45E8-9A2C-D2231AE941D4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Only in current browser</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4E6BB00F-78D0-4401-B0D8-12DF635CB716</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B28DB2A1-54CD-4098-A01F-433BB205D0AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E52B082-84A2-45E8-9A2C-D2231AE941D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B28DB2A1-54CD-4098-A01F-433BB205D0AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71E1A8E6-E19E-4CB5-A549-C3E381DB2DA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B28DB2A1-54CD-4098-A01F-433BB205D0AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87F81E6D-5E14-41E0-B899-904283B2D432</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C0D75D3-4308-412A-88EB-70A25A0CAC0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B28DB2A1-54CD-4098-A01F-433BB205D0AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87F81E6D-5E14-41E0-B899-904283B2D432</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4D04842-3C36-45CF-BC40-02CB7A575B2C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13397FC7-175F-4A5E-A5FB-B6F81FDF2229</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E3552813-F045-4D3D-B373-63095EA7BF22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01CE4C90-7E05-45C5-BE77-6769A3E5FA86</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E40D67BA-284C-4AB9-A184-D89EF55B0CBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71E1A8E6-E19E-4CB5-A549-C3E381DB2DA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E77C8C05-99B1-43FE-8519-AB0F86FC6A11</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E6BB00F-78D0-4401-B0D8-12DF635CB716</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Pause audio and video in web browser tabs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pause Tabs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>const chromium_variants = ['Google Chrome', 'Chromium', 'Opera', 'Vivaldi', 'Brave Browser', 'Microsoft Edge']
const webkit_variants = ['Safari', 'Webkit']
const browser_variants = chromium_variants.concat(webkit_variants)

Application('System Events')
	.applicationProcesses.where({ backgroundOnly: false })()
	.filter(app =&gt; {
		app_name = app.name()
		if (app_name.startsWith('firefox')) console.log('Firefox is not scriptable')
		return browser_variants.some(variant =&gt; app_name.startsWith(variant))
	})
	.map(browser =&gt; browser.name())
	.join(',')</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1D78F34E-7704-4119-8370-27B728AAE507</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>Application('System Events').applicationProcesses.where({ frontmost: true }).name()[0]</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B28DB2A1-54CD-4098-A01F-433BB205D0AF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pauseall</string>
				<key>subtext</key>
				<string>Pause video and audio in all browser tabs</string>
				<key>text</key>
				<string>Pause All</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>00AE9D16-4A4A-4371-9B6C-4A57F90B0FD8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist="https://raw.githubusercontent.com/alfredapp/pause-tabs-workflow/master/Workflow/info.plist"
readonly workflow_url="alfredapp/pause-tabs-workflow"
readonly download_type='github_release'
readonly frequency_check='4'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  local -r terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1E228D7E-A983-44A2-A2E1-C41C04C92AE3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>// Grab environment variables
ObjC.import('stdlib') // For $.getenv

const act_on = $.getenv('act_on')
const skip_active = $.getenv('skip_active')
const frontmost_name = $.getenv('frontmost_name')
const running_browsers = $.getenv('running_browsers')

// Set up
const pause_player = 'document.querySelectorAll("video, audio").forEach(e =&gt; e.pause())'

const webkit_variants = ['Safari', 'Webkit']
const chromium_variants = ['Google Chrome', 'Chromium', 'Opera', 'Vivaldi', 'Brave Browser', 'Microsoft Edge']

target_browsers = (act_on === 'all') ? running_browsers.split(',') : [frontmost_name]

// Pause tabs
target_browsers.forEach(browser_name =&gt; {
	browser = Application(browser_name)

	// Webkit variants
	if (webkit_variants.some(variant =&gt; browser_name.startsWith(variant))) {
		browser.windows().forEach(browser_window =&gt; {
			browser_window.tabs().forEach(browser_tab =&gt; {
				// Skip current tab if conditions are met
				if (skip_active === 'true' &amp;&amp; frontmost_name === browser_name &amp;&amp; browser_window.id() === browser.windows()[0].id() &amp;&amp; browser_tab.index() === browser_window.currentTab.index()) return
				// Pause tab
				browser.doJavaScript(pause_player, {in: browser_tab})
			})
		})
	// Chromium Variants
	} else if (chromium_variants.some(variant =&gt; browser_name.startsWith(variant))) {
		browser.windows().forEach(browser_window =&gt; {
			browser_window.tabs().forEach(browser_tab =&gt; {
				// Skip current tab if conditions are met
				if (skip_active === 'true' &amp;&amp; frontmost_name === browser_name &amp;&amp; browser_window.id() === browser.windows()[0].id() &amp;&amp; browser_tab.id() === browser_window.activeTab.id()) return
				// Pause tab
				browser_tab.execute({javascript: pause_player})
			})
		})
	} else {
 		throw new Error(browser_name + ' is not a supported browser')
	}
})</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>35178710-6E1E-4C86-8348-0528C06FA47C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>frontmost_name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0C0D75D3-4308-412A-88EB-70A25A0CAC0B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>87F81E6D-5E14-41E0-B899-904283B2D432</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>E3552813-F045-4D3D-B373-63095EA7BF22</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>running_browsers</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>01CE4C90-7E05-45C5-BE77-6769A3E5FA86</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>act_on</key>
					<string>all</string>
					<key>skip_active</key>
					<string>false</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>71E1A8E6-E19E-4CB5-A549-C3E381DB2DA9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>act_on</key>
					<string>frontmost</string>
					<key>skip_active</key>
					<string>false</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4E6BB00F-78D0-4401-B0D8-12DF635CB716</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E40D67BA-284C-4AB9-A184-D89EF55B0CBA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E77C8C05-99B1-43FE-8519-AB0F86FC6A11</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pauseothers</string>
				<key>subtext</key>
				<string>Pause video and audio in all browser tabs except current one</string>
				<key>text</key>
				<string>Pause Others</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4C3CB545-F2F5-427E-AC6C-3981B0E664F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>act_on</key>
					<string>all</string>
					<key>skip_active</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>13397FC7-175F-4A5E-A5FB-B6F81FDF2229</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C4D04842-3C36-45CF-BC40-02CB7A575B2C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>act_on</key>
					<string>frontmost</string>
					<key>skip_active</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6E52B082-84A2-45E8-9A2C-D2231AE941D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0C7EFFD4-4267-4B4D-9C9A-1FEE01CF1079</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Run `pauseall` to pause audio and video in tabs of all open web browers. `pauseothers` does the same except for the current tab. ⌘↵ makes it pause only tabs from the current browser.

![](https://i.imgur.com/akI9PmL.png)

You need to turn on `Allow JavaScript from Apple Events` in the browsers you want to control for the Workflow to work.</string>
	<key>uidata</key>
	<dict>
		<key>00AE9D16-4A4A-4371-9B6C-4A57F90B0FD8</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Pause audio and video in all running browsers</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>01CE4C90-7E05-45C5-BE77-6769A3E5FA86</key>
		<dict>
			<key>xpos</key>
			<integer>970</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>0C0D75D3-4308-412A-88EB-70A25A0CAC0B</key>
		<dict>
			<key>xpos</key>
			<integer>635</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>0C7EFFD4-4267-4B4D-9C9A-1FEE01CF1079</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>13397FC7-175F-4A5E-A5FB-B6F81FDF2229</key>
		<dict>
			<key>note</key>
			<string>Act on all browsers
Skip active tab</string>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>1D78F34E-7704-4119-8370-27B728AAE507</key>
		<dict>
			<key>note</key>
			<string>Grab all running web browsers</string>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>1E228D7E-A983-44A2-A2E1-C41C04C92AE3</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>1235</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>35178710-6E1E-4C86-8348-0528C06FA47C</key>
		<dict>
			<key>note</key>
			<string>Pause tabs</string>
			<key>xpos</key>
			<integer>1050</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>4C3CB545-F2F5-427E-AC6C-3981B0E664F7</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Pause audio and video in frontmost app</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>4E6BB00F-78D0-4401-B0D8-12DF635CB716</key>
		<dict>
			<key>note</key>
			<string>Act on frontmost app
Do not skip active tab</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>6E52B082-84A2-45E8-9A2C-D2231AE941D4</key>
		<dict>
			<key>note</key>
			<string>Act on frontmost app
Skip active tab</string>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>71E1A8E6-E19E-4CB5-A549-C3E381DB2DA9</key>
		<dict>
			<key>note</key>
			<string>Act on all browsers
Do not skip active tab</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>87F81E6D-5E14-41E0-B899-904283B2D432</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>B28DB2A1-54CD-4098-A01F-433BB205D0AF</key>
		<dict>
			<key>note</key>
			<string>Grab frontmost app</string>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>C4D04842-3C36-45CF-BC40-02CB7A575B2C</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>E3552813-F045-4D3D-B373-63095EA7BF22</key>
		<dict>
			<key>xpos</key>
			<integer>885</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>E40D67BA-284C-4AB9-A184-D89EF55B0CBA</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>E77C8C05-99B1-43FE-8519-AB0F86FC6A11</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2021.1</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/pause-tabs-workflow/</string>
</dict>
</plist>
